*{
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    background-image: url(aficionados.jpg), url(aficionados2.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
  }
  h1{
      text-align: center;
  }
  svg{
    margin-top: 2VW;
    margin-left: 300px;
    border: 2px solid black;
    background-image: url(tablero.png);
    background-repeat: no-repeat;
  }

  button{
    background: red;
    background-color: green;
    border-radius: 25px;
    border: 2px solid;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 13px 31px;
    text-decoration: none;
    text-shadow: 1px 1px 6px #2f6627;
    text-align: center;
    margin-left: 45vw;
}